This notebook is loading all the csv files into a database (sqlite).

In [160]:
import pandas as pd
import numpy as np
import re
import json
import sqlite3

# Database Schema
provided under a txt file

In [161]:
f1 = open("data/schema.txt","r")
tables_schema = {}
flag = 0
tmp = []

# Isolate the schema of each table into a dict
for line in f1.readlines():
    if 'csv' in line:
        if flag > 0:
            tables_schema[key] = tmp
            tmp = []
        key = line.split('.csv')[0]
        flag += 1
    if flag > 0: 
        tmp.append(line)

In [162]:
# These are the different tables of the database
tables_schema.keys()

dict_keys(['circuits', 'constructor_results', 'constructor_standings', 'constructors', 'driver_standings', 'drivers', 'lap_times', 'pit_stops', 'qualifying', 'races', 'results', 'seasons'])

In [163]:
tables_schema

{'circuits': ['circuits.csv\n',
  '+------------+--------------+------+-----+---------+----------------+\n',
  '| Field      | Type         | Null | Key | Default | Extra          |\n',
  '+------------+--------------+------+-----+---------+----------------+\n',
  '| circuitId  | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| circuitRef | varchar(255) | NO   |     |         |                |\n',
  '| name       | varchar(255) | NO   |     |         |                |\n',
  '| location   | varchar(255) | YES  |     | NULL    |                |\n',
  '| country    | varchar(255) | YES  |     | NULL    |                |\n',
  '| lat        | float        | YES  |     | NULL    |                |\n',
  '| lng        | float        | YES  |     | NULL    |                |\n',
  '| alt        | int(11)      | YES  |     | NULL    |                |\n',
  '| url        | varchar(255) | NO   | UNI |         |                |\n',
  '+------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'constructor_results': ['constructor_results.csv\n',
  '+----------------------+--------------+------+-----+---------+----------------+\n',
  '| Field                | Type         | Null | Key | Default | Extra          |\n',
  '+----------------------+--------------+------+-----+---------+----------------+\n',
  '| constructorResultsId | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| raceId               | int(11)      | NO   |     | 0       |                |\n',
  '| constructorId        | int(11)      | NO   |     | 0       |                |\n',
  '| points               | float        | YES  |     | NULL    |                |\n',
  '| status               | varchar(255) | YES  |     | NULL    |                |\n',
  '+----------------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'constructor_standings': ['constructor_standings.csv\n',
  '+------------------------+--------------+------+-----+---------+----------------+\n',
  '| Field                  | Type         | Null | Key | Default | Extra          |\n',
  '+------------------------+--------------+------+-----+---------+----------------+\n',
  '| constructorStandingsId | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| raceId                 | int(11)      | NO   |     | 0       |                |\n',
  '| constructorId          | int(11)      | NO   |     | 0       |                |\n',
  '| points                 | float        | NO   |     | 0       |                |\n',
  '| position               | int(11)      | YES  |     | NULL    |                |\n',
  '| positionText           | varchar(255) | YES  |     | NULL    |                |\n',
  '| wins                   | int(11)      | NO   |     | 0       |                |\n',
  '+------------------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'constructors': ['constructors.csv\n',
  '+----------------+--------------+------+-----+---------+----------------+\n',
  '| Field          | Type         | Null | Key | Default | Extra          |\n',
  '+----------------+--------------+------+-----+---------+----------------+\n',
  '| constructorId  | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| constructorRef | varchar(255) | NO   |     |         |                |\n',
  '| name           | varchar(255) | NO   | UNI |         |                |\n',
  '| nationality    | varchar(255) | YES  |     | NULL    |                |\n',
  '| url            | varchar(255) | NO   |     |         |                |\n',
  '+----------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'driver_standings': ['driver_standings.csv\n',
  '+-------------------+--------------+------+-----+---------+----------------+\n',
  '| Field             | Type         | Null | Key | Default | Extra          |\n',
  '+-------------------+--------------+------+-----+---------+----------------+\n',
  '| driverStandingsId | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| raceId            | int(11)      | NO   |     | 0       |                |\n',
  '| driverId          | int(11)      | NO   |     | 0       |                |\n',
  '| points            | float        | NO   |     | 0       |                |\n',
  '| position          | int(11)      | YES  |     | NULL    |                |\n',
  '| positionText      | varchar(255) | YES  |     | NULL    |                |\n',
  '| wins              | int(11)      | NO   |     | 0       |                |\n',
  '+-------------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'drivers': ['drivers.csv\n',
  '+-------------+--------------+------+-----+---------+----------------+\n',
  '| Field       | Type         | Null | Key | Default | Extra          |\n',
  '+-------------+--------------+------+-----+---------+----------------+\n',
  '| driverId    | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| driverRef   | varchar(255) | NO   |     |         |                |\n',
  '| number      | int(11)      | YES  |     | NULL    |                |\n',
  '| code        | varchar(3)   | YES  |     | NULL    |                |\n',
  '| forename    | varchar(255) | NO   |     |         |                |\n',
  '| surname     | varchar(255) | NO   |     |         |                |\n',
  '| dob         | date         | YES  |     | NULL    |                |\n',
  '| nationality | varchar(255) | YES  |     | NULL    |                |\n',
  '| url         | varchar(255) | NO   | UNI |         |                |\n',
  '+-------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'lap_times': ['lap_times.csv\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '| Field        | Type         | Null | Key | Default | Extra |\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '| raceId       | int(11)      | NO   | PRI | NULL    |       |\n',
  '| driverId     | int(11)      | NO   | PRI | NULL    |       |\n',
  '| lap          | int(11)      | NO   | PRI | NULL    |       |\n',
  '| position     | int(11)      | YES  |     | NULL    |       |\n',
  '| time         | varchar(255) | YES  |     | NULL    |       |\n',
  '| milliseconds | int(11)      | YES  |     | NULL    |       |\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '\n'],
 'pit_stops': ['pit_stops.csv\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '| Field        | Type         | Null | Key | Default | Extra |\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '| raceId       | int(11)      | NO   | PRI | NULL    |       |\n',
  '| driverId     | int(11)      | NO   | PRI | NULL    |       |\n',
  '| stop         | int(11)      | NO   | PRI | NULL    |       |\n',
  '| lap          | int(11)      | NO   |     | NULL    |       |\n',
  '| time         | time         | NO   |     | NULL    |       |\n',
  '| duration     | varchar(255) | YES  |     | NULL    |       |\n',
  '| milliseconds | int(11)      | YES  |     | NULL    |       |\n',
  '+--------------+--------------+------+-----+---------+-------+\n',
  '\n'],
 'qualifying': ['qualifying.csv\n',
  '+---------------+--------------+------+-----+---------+----------------+\n',
  '| Field         | Type         | Null | Key | Default | Extra          |\n',
  '+---------------+--------------+------+-----+---------+----------------+\n',
  '| qualifyId     | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| raceId        | int(11)      | NO   |     | 0       |                |\n',
  '| driverId      | int(11)      | NO   |     | 0       |                |\n',
  '| constructorId | int(11)      | NO   |     | 0       |                |\n',
  '| number        | int(11)      | NO   |     | 0       |                |\n',
  '| position      | int(11)      | YES  |     | NULL    |                |\n',
  '| q1            | varchar(255) | YES  |     | NULL    |                |\n',
  '| q2            | varchar(255) | YES  |     | NULL    |                |\n',
  '| q3            | varchar(255) | YES  |     | NULL    |                |\n',
  '+---------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'races': ['races.csv\n',
  '+-----------+--------------+------+-----+------------+----------------+\n',
  '| Field     | Type         | Null | Key | Default    | Extra          |\n',
  '+-----------+--------------+------+-----+------------+----------------+\n',
  '| raceId    | int(11)      | NO   | PRI | NULL       | auto_increment |\n',
  '| year      | int(11)      | NO   |     | 0          |                |\n',
  '| round     | int(11)      | NO   |     | 0          |                |\n',
  '| circuitId | int(11)      | NO   |     | 0          |                |\n',
  '| name      | varchar(255) | NO   |     |            |                |\n',
  '| date      | date         | NO   |     | 0000-00-00 |                |\n',
  '| time      | time         | YES  |     | NULL       |                |\n',
  '| url       | varchar(255) | YES  | UNI | NULL       |                |\n',
  '+-----------+--------------+------+-----+------------+----------------+\n',
  '\n'],
 'results': ['results.csv\n',
  '+-----------------+--------------+------+-----+---------+----------------+\n',
  '| Field           | Type         | Null | Key | Default | Extra          |\n',
  '+-----------------+--------------+------+-----+---------+----------------+\n',
  '| resultId        | int(11)      | NO   | PRI | NULL    | auto_increment |\n',
  '| raceId          | int(11)      | NO   |     | 0       |                |\n',
  '| driverId        | int(11)      | NO   |     | 0       |                |\n',
  '| constructorId   | int(11)      | NO   |     | 0       |                |\n',
  '| number          | int(11)      | YES  |     | NULL    |                |\n',
  '| grid            | int(11)      | NO   |     | 0       |                |\n',
  '| position        | int(11)      | YES  |     | NULL    |                |\n',
  '| positionText    | varchar(255) | NO   |     |         |                |\n',
  '| positionOrder   | int(11)      | NO   |     | 0       |                |\n',
  '| points          | float        | NO   |     | 0       |                |\n',
  '| laps            | int(11)      | NO   |     | 0       |                |\n',
  '| time            | varchar(255) | YES  |     | NULL    |                |\n',
  '| milliseconds    | int(11)      | YES  |     | NULL    |                |\n',
  '| fastestLap      | int(11)      | YES  |     | NULL    |                |\n',
  '| rank            | int(11)      | YES  |     | 0       |                |\n',
  '| fastestLapTime  | varchar(255) | YES  |     | NULL    |                |\n',
  '| fastestLapSpeed | varchar(255) | YES  |     | NULL    |                |\n',
  '| statusId        | int(11)      | NO   |     | 0       |                |\n',
  '+-----------------+--------------+------+-----+---------+----------------+\n',
  '\n'],
 'seasons': ['seasons.csv\n',
  '+-------+--------------+------+-----+---------+-------+\n',
  '| Field | Type         | Null | Key | Default | Extra |\n',
  '+-------+--------------+------+-----+---------+-------+\n',
  '| year  | int(11)      | NO   | PRI | 0       |       |\n',
  '| url   | varchar(255) | NO   | UNI |         |       |\n',
  '+-------+--------------+------+-----+---------+-------+\n',
  '\n']}

Each schema is represented following a table format. In order to transform it into a usable query, I need to parse the table.

# Loading into the db

## Loading the schema of each table

In [164]:
# First, let's open a connection to the database, which I called "Formula1"
conn = sqlite3.connect('formula1.sqlite')
cur = conn.cursor()

In [167]:
# Iteration over each table (key)
for key in tables_schema.keys():
    query = "DROP TABLE IF EXISTS {};\nCREATE TABLE {} ( \n".format(key, key)
    # We don't need the first 4 lines of each string (headers) != columns of the tables I will put into the db
    tmp = tables_schema[key][4:]
    # Parsing each line into a variable of the table
    for line in tmp:
        tmp2 = re.findall(r"[\w(\d)]+", line.replace('int(11)', 'INTEGER').replace('0000-00-00','').replace('0','DEFAULT 0').replace('UNI','UNIQUE').replace('NULL','').replace('NO','NOT NULL').replace('YES','').replace('PRI','PRIMARY KEY').replace('auto_increment','AUTOINCREMENT UNIQUE'))
        if len(tmp2) > 0:
            query += ' '.join(tmp2) + ',\n'
    query = query[:-2] + ')'
    # Applying some refinements for the primary keys
    if len(re.findall('PRIMARY KEY', query)) > 1:
        test = query.split('\n')
        test2 = []
        pri_key = []
        for x in test:
            if 'PRIMARY KEY' in x:
                var = x.split()[0]
                pri_key.append(var)
                y = x.replace('PRIMARY KEY', '')
                test2.append(y)
            else:
                test2.append(x)
        test2[-1] = test2[-1][:-1] + ','
        test2.append('PRIMARY KEY ({})\n)'.format(','.join(pri_key)))
        
        # This is the final query
        query = '\n'.join(test2)
    print(query)
    cur.executescript(query)

DROP TABLE IF EXISTS circuits;
CREATE TABLE circuits (
circuitId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
circuitRef varchar(255) NOT NULL,
name varchar(255) NOT NULL,
location varchar(255),
country varchar(255),
lat float,
lng float,
alt INTEGER,
url varchar(255) NOT NULL UNIQUE)
DROP TABLE IF EXISTS constructor_results;
CREATE TABLE constructor_results (
constructorResultsId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
raceId INTEGER NOT NULL DEFAULT 0,
constructorId INTEGER NOT NULL DEFAULT 0,
points float,
status varchar(255))
DROP TABLE IF EXISTS constructor_standings;
CREATE TABLE constructor_standings (
constructorStandingsId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
raceId INTEGER NOT NULL DEFAULT 0,
constructorId INTEGER NOT NULL DEFAULT 0,
points float NOT NULL DEFAULT 0,
position INTEGER,
positionText varchar(255),
wins INTEGER NOT NULL DEFAULT 0)
DROP TABLE IF EXISTS constructors;
CREATE TABLE constructors (
constructorId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
constructorRef varchar(255) NOT NULL,
name varchar(255) NOT NULL UNIQUE,
nationality varchar(255),
url varchar(255) NOT NULL)
DROP TABLE IF EXISTS driver_standings;
CREATE TABLE driver_standings (
driverStandingsId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
raceId INTEGER NOT NULL DEFAULT 0,
driverId INTEGER NOT NULL DEFAULT 0,
points float NOT NULL DEFAULT 0,
position INTEGER,
positionText varchar(255),
wins INTEGER NOT NULL DEFAULT 0)
DROP TABLE IF EXISTS drivers;
CREATE TABLE drivers (
driverId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
driverRef varchar(255) NOT NULL,
number INTEGER,
code varchar(3),
forename varchar(255) NOT NULL,
surname varchar(255) NOT NULL,
dob date,
nationality varchar(255),
url varchar(255) NOT NULL UNIQUE)
DROP TABLE IF EXISTS lap_times;
CREATE TABLE lap_times (
raceId INTEGER NOT NULL ,
driverId INTEGER NOT NULL ,
lap INTEGER NOT NULL ,
position INTEGER,
time varchar(255),
milliseconds INTEGER,
PRIMARY KEY (raceId,driverId,lap)
)
DROP TABLE IF EXISTS pit_stops;
CREATE TABLE pit_stops (
raceId INTEGER NOT NULL ,
driverId INTEGER NOT NULL ,
stop INTEGER NOT NULL ,
lap INTEGER NOT NULL,
time time NOT NULL,
duration varchar(255),
milliseconds INTEGER,
PRIMARY KEY (raceId,driverId,stop)
)
DROP TABLE IF EXISTS qualifying;
CREATE TABLE qualifying (
qualifyId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
raceId INTEGER NOT NULL DEFAULT 0,
driverId INTEGER NOT NULL DEFAULT 0,
constructorId INTEGER NOT NULL DEFAULT 0,
number INTEGER NOT NULL DEFAULT 0,
position INTEGER,
q1 varchar(255),
q2 varchar(255),
q3 varchar(255))
DROP TABLE IF EXISTS races;
CREATE TABLE races (
raceId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
year INTEGER NOT NULL DEFAULT 0,
round INTEGER NOT NULL DEFAULT 0,
circuitId INTEGER NOT NULL DEFAULT 0,
name varchar(255) NOT NULL,
date date NOT NULL,
time time,
url varchar(255) UNIQUE)
DROP TABLE IF EXISTS results;
CREATE TABLE results (
resultId INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
raceId INTEGER NOT NULL DEFAULT 0,
driverId INTEGER NOT NULL DEFAULT 0,
constructorId INTEGER NOT NULL DEFAULT 0,
number INTEGER,
grid INTEGER NOT NULL DEFAULT 0,
position INTEGER,
positionText varchar(255) NOT NULL,
positionOrder INTEGER NOT NULL DEFAULT 0,
points float NOT NULL DEFAULT 0,
laps INTEGER NOT NULL DEFAULT 0,
time varchar(255),
milliseconds INTEGER,
fastestLap INTEGER,
rank INTEGER DEFAULT 0,
fastestLapTime varchar(255),
fastestLapSpeed varchar(255),
statusId INTEGER NOT NULL DEFAULT 0)
DROP TABLE IF EXISTS seasons;
CREATE TABLE seasons (
year INTEGER NOT NULL PRIMARY KEY DEFAULT 0,
url varchar(255) NOT NULL UNIQUE)

## Loading the data into each table

In [169]:

for key in tables_schema.keys():
    df = pd.read_csv('data/f1/{}.csv'.format(key))
    df = df.replace('\\N', np.nan)
    cols = list(df.columns)
    values = ['?'] * len(cols)
    cur.executemany("INSERT OR IGNORE INTO {} ({}) VALUES ({});".format(key,', '.join(cols), ', '.join(['?'] * len(cols))), df.values)
    
conn.commit()
conn.close()